﻿
@page "/students"
@inject HttpClient Http

<h3>Students</h3>

<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Father_Name</th>
                <th>Birth_Date</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Surname</td>
                <td>@student.Father_Name</td>
                <td>@student.Birth_Date</td>
                <td>@student.Email</td>
                <td><button type="button" class="btn btn-outline-dark" @onclick="@(async () => await DeleteStudent(student.Id))">x</button></td>
                <td><button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#edit" @onclick="@(async () => await PrepareEdit(student.Id))">change</button></td>
            </tr>
            }
        </tbody>
    </table>

    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
       Добавить студента
    </button>

<!-- Добавить предмет -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить студента</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <EditForm Model="@students" OnValidSubmit="@AddStudent">
              <div class="mb-3">
                  <label for="inputCode" class="form-label">Имя</label>
                  <InputText @bind-Value="TypeName" type="text" id="inputName" class="form-control"> </InputText>
              </div>

              <div class="mb-3">
                  <label for="inputCode" class="form-label">Фамилия</label>
                  <InputText @bind-Value="TypeSurname" type="text" id="inputName" class="form-control"> </InputText>
              </div>

              <div class="mb-3">
                  <label for="inputCode" class="form-label">Отчество</label>
                  <InputText @bind-Value="TypeFather_Name" type="text" id="inputName" class="form-control"> </InputText>
              </div>
              <div class="mb-3">
                  <label for="inputCode" class="form-label">Дата рождения</label>
                  <InputDate @bind-Value="TypeBirth_Date" id="inputName" class="form-control"> </InputDate>
              </div>
              <div class="mb-3">
                  <label for="inputCode" class="form-label">Email</label>
                  <InputText @bind-Value="TypeEmail" type="text" id="inputName" class="form-control"> </InputText>
              </div>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Добавить</button>
          </EditForm>
      </div>
    </div>
  </div>
</div>

<!-- Редактировать предмет -->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Редактировать студента</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <EditForm Model="@students" OnValidSubmit="@EditStudent">
              <div class="mb-3">
                  <label for="inputCode" class="form-label">Имя</label>
                  <InputText @bind-Value="TypeName" type="text" id="inputName" class="form-control"> </InputText>
              </div>

              <div class="mb-3">
                  <label for="inputCode" class="form-label">Фамилия</label>
                  <InputText @bind-Value="TypeSurname" type="text" id="inputName" class="form-control"> </InputText>
              </div>

              <div class="mb-3">
                  <label for="inputCode" class="form-label">Отчество</label>
                  <InputText @bind-Value="TypeFather_Name" type="text" id="inputName" class="form-control"> </InputText>
              </div>
              <div class="mb-3">
                  <label for="inputCode" class="form-label">Дата рождения</label>
                  <InputDate @bind-Value="TypeBirth_Date" type="date" id="inputName" class="form-control"> </InputDate>
              </div>
              <div class="mb-3">
                  <label for="inputCode" class="form-label">Email</label>
                  <InputText @bind-Value="TypeEmail" type="text" id="inputName" class="form-control"> </InputText>
              </div>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Сохранить</button>
          </EditForm>
      </div>
    </div>
  </div>
</div>

@code {

    private const string ServiceEndpoint = "https://localhost:5001/API/students";

    private List<student> students = new List<student>();
    private String TypeName;
    private String TypeSurname;
    private String TypeFather_Name;
    private DateTime TypeBirth_Date;
    private String TypeEmail;
    private Guid TypeId;

    protected override async Task OnInitializedAsync()
    {
        students = await Http.GetFromJsonAsync<List<student>>("https://localhost:5001/API/students");
    }

    private async Task AddStudent()
    {
        var addStudent = new student
        {
            Name = TypeName,
            Surname = TypeSurname,
            Father_Name = TypeFather_Name,
            Birth_Date = TypeBirth_Date,
            Email = TypeEmail
        };
        await Http.PostAsJsonAsync(ServiceEndpoint, addStudent);
        await OnInitializedAsync();
    }

    public class student
    {
        public Guid Id { get; set; }

        public string Name { get; set; }
        public string Surname { get; set; }
        public string Father_Name { get; set; }
        public DateTime Birth_Date { get; set; }
        public string Email { get; set; }
    }

    private async Task DeleteStudent(Guid Id)
    {
        var res = await Http.DeleteAsync(ServiceEndpoint + "/" + Id.ToString());
        if (res.StatusCode == System.Net.HttpStatusCode.OK)
        {
            students = students.Where(type => type.Id != Id).ToList();
        }
    }

    private async Task PrepareEdit(Guid Id)
    {
        var selectedStudent = students.Where(type => Id == type.Id).ToList().FirstOrDefault();
        TypeName = selectedStudent.Name;
        TypeId = selectedStudent.Id;
        TypeName = selectedStudent.Name;
        TypeSurname = selectedStudent.Surname;
        TypeFather_Name = selectedStudent.Father_Name;
        TypeBirth_Date = selectedStudent.Birth_Date;
        TypeEmail = selectedStudent.Email;

        await OnInitializedAsync();
    }

    private async Task EditStudent()
    {
        var editStudent = new student
        {
            Id = TypeId,
            Name = TypeName,
            Surname = TypeSurname,
            Father_Name = TypeFather_Name,
            Birth_Date = TypeBirth_Date,
            Email = TypeEmail
        };
        var res = await Http.PutAsJsonAsync(ServiceEndpoint + "/" +TypeId.ToString(), editStudent);
        await OnInitializedAsync();
    }

}
